<div class="row">
  <form class="col-sm-11" #filteredForm>
    <select (change)="filterTeams(selectConf, filteredForm)" name="conference" #selectConf>
      <option value="" disabled selected>Filter By Conference</option>
      <option [value]="conference" *ngFor="let conference of conferences">
        {{conference}}
      </option>
    </select>
    <select (change)="filterTeams(selectDiv, filteredForm)" name="division" #selectDiv>
      <option value="" disabled selected>Filter By Division</option>
      <option [value]="division" *ngFor="let division of divisions">
        {{division}}
      </option>
    </select>
    <select #teamSelect name="teamList">
      <option value="" disabled selected>List of Teams</option>
      <option [value]="team.id" *ngFor="let team of teams$ | async">
        {{team.full_name}}
      </option>
    </select>
    <button type="submit" class="primary" (click)="trackTeam(teamSelect.value, filteredForm)">Track team</button>
  </form>
</div>
<div class="row" #teamStats>
  <app-team-stats #teamStatsComp class="col-sm-4" *ngFor="let team of nbaService.getTrackedTeams(); trackBy: trackById" 
    [team]="team">
    <span (click)="handleRemoveTrackedTeam(team)">&times;</span>
    <select #daysHistory (change)="setSelectionOption($event)">
      <option name="6" [value]="'6 ' + team.abbreviation" ng-selected="selectedValue.split(' ')[0] === '6'">6</option>
      <option name="12" [value]="'12 ' + team.abbreviation" ng-selected="selectedValue.split(' ')[0] === '12'">12</option>
      <option name="20" [value]="'20 ' + team.abbreviation" ng-selected="selectedValue.split(' ')[0] === '20'">20</option>
    </select>
  </app-team-stats>
</div>

<app-popup [isOpen]="showPopup">
  <body class="modalBody">
    Are you sure you want to remove this team? <br>
    <button class="close" (click)="handleModal($event)">No</button>
    <button class="close" (click)="handleModal($event)">Yes</button>
  </body>
</app-popup>